<div class="left-menu">
    <section class="left-menu__list">
        <h2>Projects</h2>
        <ul>
            <li><a href="#">
                    <div class="left-menu__item-color"></div>
                    List films
                </a>
            </li>
            <li><a href="#">
                    <div class="left-menu__item-color"></div>
                    Vuejs keyboard trainer
                </a>
            </li>
        </ul>
        <button class="button create-project-button" (click)="modalService.open('create-project-modal');" >Create project</button>
    </section>
</div>

<app-modal-create-project></app-modal-create-project>