<div class="left-menu">
    <section class="left-menu__list">
        <h2>Projects</h2>
        <ul>
            <li *ngFor="let project of projectService.projects" #popperItem>
                <a href="#">
                    <div class="left-menu__item-color" [style.backgroundColor]="projectService.colors[project.color!]"></div>
                    {{ project.name }}
                </a>
                <button class="popper-icon" (click)="popperService.open('popper-' + project.id)">
                    <svg width="15" height="3">
                        <path
                            d="M1.5 3a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm6 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm6 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"
                            fill="currentColor" fill-rule="evenodd"></path>
                    </svg>
                </button>
                <popper [item]="popperItem" [id]="'popper-' + project.id">
                    <ul class="popper__list">
                        <li class="popper__item">
                            <div class="popper__item-icon popper__item-icon--edit">
                            </div>
                            <div class="popper__item-content">Edit project</div>
                        </li>
                        <li class="popper__item">
                            <div class="popper__item-icon popper__item-icon--delete">
                            </div>
                            <div class="popper__item-content" (click)="projectService.deleteProject(project.id)">Delete project</div>
                        </li>
                    </ul>
                </popper>
            </li>
        </ul>
        <button class="button create-project-button" (click)="modalService.open('create-project-modal');">Create
            project</button>
    </section>
</div>

<app-modal-create-project></app-modal-create-project>