.view-content {
    padding-bottom: 40px;
}

.projects__item a {
    text-decoration: none;
    color: inherit;
    font-size: 1.2rem;
    transition: all .15s;

    &:hover {
        color: rgba(0, 0, 0, .8);
    }
}