<jw-modal id="create-project-modal">
    <h1>Project creating</h1>
    <label class="form-label">New project name <input class="input" trim="blur" type="text" [(ngModel)]="projectService.newProjectName"/></label>

    <div appDropdownMenu class="dropdown-menu">
        <div class="dropdown-menu__choosed">
            <div class="dropdown-menu__select-color"></div>
            <div class="dropdown-menu__select-name">Gray</div>
        </div>
        <ul class="dropdown-menu__list">
            <li class="dropdown-menu__item">
                <div class="dropdown-menu__select-color"></div>
                <div class="dropdown-menu__select-name">Gray</div>
            </li>
            <li class="dropdown-menu__item">
                <div class="dropdown-menu__select-color"></div>
                <div class="dropdown-menu__select-name">Red</div>
            </li>
        </ul>
    </div>

    <div class="new-project__buttons">
        <button class="button" (click)="projectService.createProject(projectService.newProjectName)">Create</button>
        <button class="button" (click)="modalService.close('create-project-modal')">Close</button>
    </div>
</jw-modal>