.wrapper {
    min-height: 100vh;
    height: 100vh;
    padding: 24px;
    background-color:#99fffd;
    background-image:
        radial-gradient(at 15% 7%, hsla(109,75%,78%,1) 0px, transparent 50%),
        radial-gradient(at 17% 73%, hsla(205,86%,70%,1) 0px, transparent 50%),
        radial-gradient(at 14% 8%, hsla(278,77%,68%,1) 0px, transparent 50%),
        radial-gradient(at 67% 17%, hsla(260,67%,75%,1) 0px, transparent 50%),
        radial-gradient(at 47% 6%, hsla(115,87%,66%,1) 0px, transparent 50%),
        radial-gradient(at 90% 6%, hsla(275,85%,62%,1) 0px, transparent 50%),
        radial-gradient(at 82% 5%, hsla(318,68%,61%,1) 0px, transparent 50%);
}

.left-menu {
    padding: 24px;
    height: 100%;
    min-height: 100%;
    width: 300px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    a {
        color: inherit;
        text-decoration: none;
    }

    h2 {
        font-size: 1rem;
        margin: 0;
        padding: 0;
        margin-bottom: 6px;
    }
}

.left-menu__item-color {
    background: rgb(125, 125, 125);
    border-radius: 32px;
    width: 10px;
    height: 10px;
    margin-right: 14px;
}

.left-menu__list {
    a {
        display: flex;
        align-items: center;
        padding: 5px 14px;
        transition: background-color .5s, box-shadow .5s;
        border-radius: 8px;

        &:hover {
            background-color: rgba(255, 255, 255, .2);
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.05);
        }
    }
}