<jw-modal id="create-project-modal">
    <h2>Project creating</h2>
    <label class="form-label">New project name <input class="input" tabindex="1" (keyup.enter)="enterPressed()" trim="blur" type="text" [(ngModel)]="projectService.newProjectName"/></label>

    <div appDropdownMenu class="dropdown-menu">
        <div class="dropdown-menu__choosed">
            <div class="dropdown-menu__select-color"></div>
            <div class="dropdown-menu__select-name">{{ projectService.newProjectColor }}</div>
        </div>
        <ul class="dropdown-menu__list">
            <li class="dropdown-menu__item" *ngFor="let color of projectService.colors | keyvalue" [attr.data-selection-name]="color.key" [ngClass]="{'dropdown-menu__item--selected' : color.key === projectService.newProjectColor}">
                <div class="dropdown-menu__select-color" [style.backgroundColor]="color.value"></div>
                <div class="dropdown-menu__select-name">{{ color.key }}</div>
            </li>
        </ul>
    </div>

    <div class="jw-modal__buttons">
        <button class="button" (click)="projectService.createProject(projectService.newProjectName, projectService.newProjectColor)">Create</button>
        <button class="button" (click)="modalService.close('create-project-modal')">Close</button>
    </div>
</jw-modal>
