popper {
    display: none;

    .popper {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1000;
        overflow: auto;

        h2 {
            margin: 12px 0 26px;
        }

        .popper-body {
            position: absolute;
            display: inline-block;
            width: 250px;
            background: rgba( 255, 255, 255, 0.25 );
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 4px );
            -webkit-backdrop-filter: blur( 4px );
            border-radius: 10px;
            border: 1px solid rgba( 255, 255, 255, 0.18 );
        }
    }

    .popper-background {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 900;
    }

    .popper-icon {
        display: none;
        align-items: center;
        justify-content: center;
        outline: none;
        border: none;
        background: none;
        color: rgba(0, 0, 0, .4);
        transition: color .5s;
    
        &:hover {
            color: #000;
        }
    }

    .popper__item {
        display: flex;
        align-items: flex-start;
        line-height: 24px;
        padding: 4px 10px;
        cursor: pointer;
        transition: all .2s;
    
        &:hover {
            background-color: rgba(255, 255, 255, 0.3);
        }
    
        &-icon {
            color: grey;
            height: 24px;
            width: 24px;
            margin-right: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
    
            &--edit {
                background: url('/assets/svg-edit.svg') no-repeat center;
            }

            &--delete {
                background: url('/assets/svg-delete.svg') no-repeat center;
            }
        }
    }
}

body.popper-open {
    overflow: hidden;
}
